/* .testimonial h1 {
    color: #F4CE14;
} */

.rating {
    background: #333333;
    text-align: center;
    border-radius: 16px;
    padding: 16px;
    color: #EDEFEE;
    height: 80%;
}

.rating > div {
    margin-top: 5px;
    margin-bottom: 5px;
}

span.checked {
    color: #F4CE14;
}

.star-count {
    margin-left: 20px;
}
