/* General Style */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text';
  font-weight: 500;
  margin: 10px 0 10px 0;
}

h1 {
  font-size: 40pt;
}

p {
  font-family: 'Karla';
}

body {
  font-family: 'Karla';
}

/* span {

} */

main > div {
  padding: 20px 10vw 20px 10vw;
}

button {
    background-color: #333333;
    text-align: center;
    color: #EDEFEE;
    font: 18pt 'Karla';
    padding: 10px;
    border: none;
    transition-duration: 0.2s;
    border-radius: 16px;
}
button:hover {
    filter: brightness(140%);
}

/* Footer */
footer {
  display: flex;
  background-color: #FBDABB;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

footer > ul {
  display: flex;
}

footer > ul > li {
  list-style-type: none;
  margin: 10px;
}

footer li {
    list-style-type: none;
}

.vertical-splitter {
    display: flex;
    flex-direction: column;
}
.vertical-splitter *:last-child {
  margin-top: auto;
}

.horizontal-splitter {
    display: flex;
}
.horizontal-splitter *:last-child {
  margin-left: auto;
}

.primary-section-odd {
    background-color: #495E57;
}

.primary-section-even {
    background: #F4CE14;
}